/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    /* Base Colors */
    --primary: #FA541C;
    --Secondary: #032340;
    --Background: #FFFFFF;
    --primary_Back: #FEEEE8;
    --Secondary_Back: #EBF5FF;
    --border: #CBCBCB;
    /* Primary Color Palette */
    ---Primary_900: #190803;
    ---Primary_850: #4B1908;
    ---Primary_700: #963211;
    ---Primary_600: #E14C19;
    ---Primary_400: #FB7649;
    ---PrimarY_300: #FC9877;
    ---Primary_150: #FDCCBB;
    ---Primary_50: #FEEEE8;
    /* ********************..............................************************ */

    --orange_primary: #FA541C;
    --Secondary: #032340;
    --Background: #FFFFFF;
    --primary_Back: #FEEEE8;
    --Secondary_Back: #EBF5FF;

    --black: #111111;
    --grey: #D2D2D2;
    --white: #FFFFFF;
    --dark: #3B3735;
    --app-bg: #FAF4F2;
    --dark-btn: #8D8D8D;
    --newsletter-color: #F8E1DB
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    /*10px*/
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    direction: rtl;
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: "Iranian Sans";
    background-color: var(--Background);
}

.container {
    /* width: 100%; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 50px 100px 50px 100px;
}

/* Reset Styles */

a {
    text-decoration: none;
}

.header {
    font-family: "Iranian Sans";
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_wrapper_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header_button_shop {
    width: 60px;
    height: 50px;
    cursor: pointer;
    background-color: var(--orange_primary);
    border: none;
    border-radius: 12px;
}

.header_button_user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    cursor: pointer;
    align-items: center;
    font-family: "Iranian Sans";
    font-size: 15px;
    font-weight: bold;
    background-color: var(--white);
    border: 1px solid #CBCBCB;
    border-radius: 12px;
}

/* .header_button {
    font-family: "Iranian Sans";
    font-size: 18px;
    line-height: 180%;
    color: var(--orange);
    background-color: var(--orange);
    border-radius: 12px;
    border: 1px;
    padding-left: 16px;
    padding-right: 16px;
    width: 184px;
    height: 48px;
    gap: 8px;

} */
.header_wrapper_content {}

.header_search {
    width: 800px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Iranian Sans";
    text-align: right;
    border-radius: 18px;
    border: 2px solid #CBCBCB;
    background-color: #f9f9f9;
    margin-right: 150px;
    margin-bottom: 30px;
}

.header_logo {
    width: 150px;
}

.header_wrapper_menu_list {
    width: auto;
    height: 70px;
    font-size: 20px;
    background-color: #f9f9f9;
    border: 2px solid #CBCBCB;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
}

.header_menu_list_right {
    display: flex;
    gap: 2rem;
}

.header_menu_list_left {
    display: flex;
    gap: 3rem;
}

.header_menu_list_item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #111111;
}

.list_icon {
    align-items: center;
    width: 23px;
}

.header_wrapper_main {
    display: flex;
    font-family: "Iranian Sans";
    direction: rtl;
    font-weight: bold;
    margin: 50px 0px 50px 0px;

}

.p_header_main_content1 {
    font-size: 18px;
    color: #606060;
}

.h1_header_main_content2 {
    font-size: 35px;
    color: var(--Secondary);
}

.h2_header_main_content3 {
    font-size: 40px;
    color: var(--primary);
}

.p_header_main_content4 {
    width: 500px;
    font-size: 18px;
    color: #606060;
}

.wrapper_btn_main_content5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    cursor: pointer;
    background-color: var(--Secondary);
    color: var(--white);
    font-family: "Iranian Sans";
    font-size: 18px;
    border-radius: 12px;
    gap: 1rem;
}

.wrapper_main_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_main_btn_content {
    margin: 50px 200px 0px 0px;
}

.wrapper_main_btn {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background-color: #EBF5FF;
    margin-bottom: 50px;
}

/* .wrapper_main_text_content{
    margin-top: 50px ;
}
.b{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
} */
.wrapper_main_cart {
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin: 100px 0px 50px 0px;
}

.main_cart {
    height: 500px;
    border: 1px solid var(--border);
    border-radius: 15px;
    position: relative;
}

.img_main_cart {}

.inside_main_cart {
    padding: 20px 20px 0px 0px;
}

.h4_inside_main_cart {
    font-size: 20px;
}

.h5_inside_main_cart {
    font-size: 18px;
}

.h6_inside_main_cart {
    font-size: 15px;
    color: var(--dark-btn);
}

.services {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #F4FAFF;
}

.service {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 12px;
    cursor: pointer;

}

.service-text {
    direction: rtl;
    width: 400px;
    font-size: 23px;
    font-weight: bold;
    color: var(--Secondary);
}

.h4-service-content {
    font-size: 18px;
    font-weight: bold;
    color: var(--Secondary);
}

.wrapper_baner1 {
    background-image: url(/images/baners/baner.svg);
    width: 100%;
    height: 600px;   
    background-repeat: no-repeat;
    
    background-size: cover;
}
.h3_baner{
    font-weight: bold;
    font-size: 18px;
}
.baner_content{
    line-height: 50px;
    padding:200px 200px 0px 0px;
}